.container {
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 70px;
    overflow-y: auto;


    .tableContainer {
        background-color: #ffffff;
        border-radius: 12px;
        padding: 10px;
        width: 100%;
        max-width: 100%;
        // overflow-x: auto;

        .tableWrapper {
            width: 100%;           // Ensure the wrapper takes full width
            overflow-x: auto;      // Enable horizontal scrolling
        }
        table {
            width: 100%;
            min-width: 1300px;
            // display: block; // Add this line
            // overflow-x: auto;
            border-collapse: collapse;
            background-color: white;

            th {
                padding: 22px !important;
                text-align: left;
                font-size: 14px;
                font-weight: bold;
                color: #333;
                padding: 12px 8px;
                border-bottom: 1px solid #eaeaea;
            }

            td {
                padding: 22px;
                vertical-align: middle;

                .ellipsis {
                    border-radius: 5px;
                    padding: 6px 1px 6px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    cursor: pointer;
                }

                .copyUrl {
                    border-radius: 8px;
                    padding: 10px 10px 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    cursor: pointer;
                }

            }

            tr:not(:last-child) {
                border-bottom: 1px solid #eaeaea;
            }
        }
    }
}