.informationHeader {
    display:flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    gap: 5px;
    color: #1a202c;
    cursor: pointer;
}

.informationRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #1a202c;
}

.webPostPreviewContainers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webViewAndTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: rgb(128, 128, 128);
    margin-bottom: 20px;
}
