.composePostCenterDiv {
    position: relative;
    height: 100%;
    flex-grow: 1;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    // Shrink padding for bigger screen sizes
    padding: 20px 10px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Allow vertical scrolling */
}


@media (min-width: 527px) {
    .composePostCenterDiv {
        padding: 20px 15px 20px;
    }
}

@media (min-width: 664px) {
    .composePostCenterDiv {
        padding: 20px 20px 20px;
    }
}

@media (min-width: 800px) {
    .composePostCenterDiv {
        padding: 20px 26px 20px;
    }
}

@media (min-width: 1091px) {
    .composePostCenterDiv {
        padding: 20px 35px 20px;
    }
}

@media (min-width: 1414px) {
    .composePostCenterDiv {
        padding: 20px 66px 20px;
    }
}

.composePostSidePanel {
    height: 100%;
    width: 400px;
    display: none;
    background-color: #EBEBEB;
}

@media (min-width: 527px) {
    .composePostSidePanel {
        display: block;
        width: 400px;
    }
}

@media (min-width: 766px) {
    .composePostSidePanel {
        width: 430px;
    }
}

@media (min-width: 880px) {
    .composePostSidePanel {
        width: 520px;
    }
}

@media (min-width: 1160px) {
    .composePostSidePanel {
        width: 580px;
    }
}

.createPostCard {
    width: 100%;
    min-height: 320px;
    border-radius: 5px;
    background-color: white;
    box-shadow: -14px 18px 17px #eaeaea81;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.createPostIcon {
    cursor: pointer;
    border-radius: 5px;
    padding: 6px;
    transition: all 0.3s ease;

    &:hover {
        background-color: #F2F2F2;
    }
}

.textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    flex-grow: 1;
    // min-height: 100px;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 13px;
    padding: 10px;
    background-color: #F2F2F2;
}


.container {
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden
}

.createPostHeader {
    display: flex;
    flex-direction: row;
    height: 50px;
    gap: 10px;
    align-items: center;
    // padding-bottom: 40px;
}


.createPostMessageIcon {
    width: 58px;
    height: 58px;
    min-width: 58px;
    /* Prevents it from shrinking below 58px */
    min-height: 58px;
    resize: none;
    background-color: #E9D5FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px
}


.iconRowInCreatePost {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px;
    width: 100%;
    background-color: white;
    height: 40px;
    align-self: flex-end;
    border-radius: 0 0 5px 5px;
    gap: 8px;
}


.textAreaWrapper {
    width: 100%;
    margin-top: 24px;
    max-width: 100%;
    flex-grow: 1;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #efeded;
    display: flex;
    flex-direction: column
}

.composePostSidePanelHeader {
    position: sticky;
    background-color: white;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}


.toolsCard {
    width: 100%;
    min-height: 250px;
    border-radius: 5px;
    background-color: white;
    box-shadow: -14px 18px 17px #eaeaea81;
    // padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 15px;
    justify-content: space-between;
    .toolCardHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }




}


.composeToolsDiv {
    padding: 20px 0px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@media (min-width: 1690px) {
    .composeToolsDiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 10px;
    }
}



.hashtagIcon {
    width: 40px; /* Set your icon size */
    height: 40px;
    background-color: #c5513a; /* Your new icon color */
    mask: url('../../assets/hashtag.png') no-repeat center;
    -webkit-mask: url('../../assets/hashtag.png') no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
}


.variablesIcon {
    width: 40px; /* Set your icon size */
    height: 40px;
    background-color: #0d5a47; /* Your new icon color */
    mask: url('../../assets/braces_variable_filled_icon.png') no-repeat center;
    -webkit-mask: url('../../assets/braces_variable_filled_icon.png') no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
}