.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    height: 100%;
    min-height: 100vh;
    background-color: #edf2f7;
    overflow-wrap: anywhere;
    padding: 13px;
    overflow-y: scroll;
    align-items: center;
    box-sizing: border-box;
    // padding-bottom: 10px;
}

.genericPostPreviewContainer {
    width: 80%;
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    // padding:  0 10px 0;
    border: 1px solid #D3D3D3;
}


.genericPostPreviewHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 13px 10px 10px;
    gap: 10px;
    font-size: 14px;

}

.genericPostPreviewCaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:  0 10px 0;
    min-height: 20px;
}

.genericPostPreviewFooter {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #D3D3D3;
    padding: 13px 10px 13px;
    gap: 12px;
}