@font-face {
    font-family: 'SF Pro';
    src: url('../../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype'); /* Path to your font */
    font-weight: 400; /* Regular */
    font-style: normal;
  }

.container {  
    font-family: 'SF Pro';
    font-weight: 400;
    font-style: normal;
}