.headerWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1px;
    position: sticky;
    top: 0;
    background-color: white;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 8px;
    z-index: 100;

    span {
        // '#626f84', fontSize: '14px' }}>{weekday}</div>
        //       {(currentView != View.MONTH) && <div style={{ color: '#afbfcf'
        color: #626f84;
        font-size: 14px;
    }

    .modalHeader {
        // wrap with a sticky!!
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        // background-color: red;
        padding: 0;
        margin: 0;

        h4 {
            padding: 0;
            margin: 0;
            font-weight: 700;
            font-size: 16px;
        }
    }
}


// view depends on width squares or single row
.postPreviewsForCenter {
    width: 100%;
    padding-bottom: 15px;

    @media (max-width: 674px) {
       display: flex;
       flex-direction: column;
       gap: 5px;
       align-items: center;
    }

    @media (min-width: 674px) and (max-width: 914px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    @media (min-width: 914px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

// from small to 504px then 2 cols
// then to 680px







.iconWrapper {
    cursor: pointer;
    border-radius: 5px;
    padding: 6px;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;

    &:hover {
        background-color: #F2F2F2;
    }
}

.modalFooter {
    display: flex;
    z-index: 100;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    background-color: white;
    width: 100%;
    bottom: 0;
    gap: 5px;
    padding: 10px 0 10px;
}