$primary: hsl(262.1, 83.3%, 57.8%);


.sidebarMenuItem {
    font-size: 16px;
    transition: all 0.3s ease;
    gap: 10px;

    &:hover {
        color: $primary !important;
        background-color: white !important;
    }
}

.selectedSidebarMenuItem {
    color: $primary !important;
    background-color: #f6edff;
    font-weight: 600;
    font-size: 16px;
    gap: 10px;

    &:hover {
        background-color: #f6edff !important;
    }
}